# Ignore node_modules folders
node_modules/
client/node_modules/

# Environment variables
.env
client/.env

# Optional: Ignore logs
*.log

# Optional: Ignore build output
/dist/
client/dist/

# Optional: OS files
.DS_Store
Thumbs.db

